body{
  margin: 0;
  background-color: #f2f5f7;
}

.my-box {
  width: 50%;
  height: 400px;
  background-color: purple;
  display: block;
  margin: 60px auto;
  text-align: center;
}

.my-box h1 {
  font
}
